rules_version = '2';
service cloud.firestore {
match /databases/{database}/documents {
// Users can only read and write their own user profile document
match /users/{userId} {
allow read, write: if request.auth != null && request.auth.uid == userId;
}
​// Users can only read, create, update, and delete summaries belonging to them
match /summaries/{summaryId} {
allow read, update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
}
}
}
